*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
}